 
 
 @import "tailwindcss";
 
 
 

 
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 6s ease infinite;
}

 
 
 
 body{
    background: linear-gradient(to right bottom ,black,rgb(1, 1, 20));
    background-repeat: no-repeat;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow-x: hidden !important;
 }

